<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Dinner Order </title>
  <h1 align="center" style="color: green">Welcome to MUS San Jose Dinner Signup</h1>
  <h3 align="center" style="color: green">Kindly remember to order before 2:30PM (Monday-Thursday)</h3>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
</head>
<body>
 
<div id="calendar_container" class="container">
	<br>
	<h4>Click below to select the dates (You can click multiple times to select dates of the current week):</h4>
	<form id="calendar-page-form" action="" class="form-inline" method="post">
        MTK ID*:
        <input type="text" id="mtkid" name="mtkid" required><br><br>
        <input type="text" id="datepicker" size="39" value="Click here to select multiple dates">
        <input type="text" id="selected_dates" size="38">
	    <input type="submit" class="btn btn-default" value="Submit Date">
        <button type="reset" value="Reset" style="margin-left: 10px" size=""20>Reset</button>
    </form>
</div>
  <script>
    var date_selected = ''
    $( function() {
      $( "#datepicker" ).datepicker({
          firstDay: 1,
          beforeShowDay: function (date) {
            var monday = new Date();
            monday.setHours(0,0,0,0);
            monday.setDate(monday.getDate() + 1 - (monday.getDay() || 4));
            var sunday = new Date(monday);
            sunday.setDate(monday.getDate() + 3);
            return [(date >= monday && date <= sunday), ''];
        } });
      $( "#datepicker" ).on( "change", function() {         
         var selected = $(this).val();
         $('#selected_dates').val($('#selected_dates').val() + selected + '; ');
         date_selected = selected;
      });
    } );

    $(document).ready(function() {
    $('#calendar-page-form').on('submit', function(event) {
    $.ajax({
      data: JSON.stringify({
        date_val: $('#selected_dates').val(),
        mtkid: $('#mtkid').val()
      }),
      contentType : 'application/json; charset=utf-8',
      dataType: 'json',
      type: 'POST',
      url: '/dinner'
    })
    .done(function(data) {
      if (data.success) {
        window.location.href = '/home'
      }
      else {
        window.location.href = '/dinner'
      }
    });
    event.preventDefault();
  });
});
  
  </script> 
</body>
</html>
